@using BusinessLayer.Abstract;
@using EntityLayer.Concrete;
@inject IUserService _userService;

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";

    string userId;
    User user = new();
    bool isAuthenticated = Context.User.Identity.IsAuthenticated;

    if (isAuthenticated)
    {
        userId = Context.Request.Cookies["UserId"];
        user = _userService.GetElementById(int.Parse(userId));
    }

}

<section class="section dashboard min-vh-100 d-flex flex-column align-items-center justify-content-center">

    <div class="row align-items-center">
        <!--TEMPLATES-->

        <!--Base Template-->
        <div class="col-lg-4">
            <div class="card mb-3 align-items-center justify-content-center">
                <a href="/Cv/BaseTemplate?shareCode=aaaaaaaa" target="_blank">
                    <img src="~/assets/img/default_template_new.jpg" class="img-fluid rounded-start">
                </a>
                <div class="card-body">
                    <h5 class="card-title">Default Template</h5>
                    <p class="card-text">This is the default template for your CV. A basic template that will meet your expectations. Ideal for the users that looks for simple designs.</p>
                </div>

                <!-- Select Button -->
                @if (isAuthenticated && user.MainTemplate == "BaseTemplate")
                {
                    <div class="card-footer d-flex justify-content-end">
                        <button href="" class="btn btn-success" disabled>Selected</button>
                    </div>
                }
                else
                {
                    <div class="card-footer d-flex justify-content-end">
                        <a href="/Template/SelectTemplate?template=BaseTemplate" class="btn btn-primary">Select Template</a>
                    </div>
                }

            </div>
        </div>

        <!--Second Template-->
        <div class="col-lg-4">
            <div class="card mb-3 align-items-center justify-content-center">
                <a href="/Cv/Template2?shareCode=aaaaaaaa" target="_blank">
                    <img src="~/assets/img/template2_red.jpg" class="img-fluid rounded-start">
                </a>
                <div class="card-body">
                    <h5 class="card-title">Red Template</h5>
                    <p class="card-text">This is the red template. More elegant than the default template. Try this out if you like red :).</p>
                </div>

                <!-- Select Button -->
                @if (isAuthenticated && user.MainTemplate == "Template2")
                {
                    <div class="card-footer d-flex justify-content-end">
                        <button href="" class="btn btn-success" disabled>Selected</button>
                    </div>
                }
                else
                {
                    <div class="card-footer d-flex justify-content-end">
                        <a href="/Template/SelectTemplate?template=Template2" class="btn btn-primary">Select Template</a>
                    </div>
                }


            </div>
        </div>

        <!--Third Template-->
        <div class="col-lg-4">
            <div class="card mb-3 align-items-center justify-content-center">
                <a href="/Cv/Template3?shareCode=aaaaaaaa" target="_blank">
                    <img src="~/assets/img/template3.jpg" class="img-fluid rounded-start">
                </a>
                <div class="card-body">
                    <h5 class="card-title">Categorized Template</h5>
                    <p class="card-text">This is the categorized template. All information parts are categorized. </p>
                </div>

                <!-- Select Button -->
                @if (isAuthenticated && user.MainTemplate == "Template3")
                {
                    <div class="card-footer d-flex justify-content-end">
                        <button href="" class="btn btn-success" disabled>Selected</button>
                    </div>
                }
                else
                {
                    <div class="card-footer d-flex justify-content-end">
                        <a href="/Template/SelectTemplate?template=Template3" class="btn btn-primary">Select Template</a>
                    </div>
                }


            </div>
        </div>

        <!--Fourth Template-->
        <div class="col-lg-4">
            <div class="card mb-3 align-items-center justify-content-center">
                <a href="/Cv/Template4?shareCode=aaaaaaaa" target="_blank">
                    <img src="~/assets/img/template4.jpg" class="img-fluid rounded-start">
                </a>
                <div class="card-body">
                    <h5 class="card-title">Fourth Template</h5>
                    <p class="card-text">This is the fourth template. A professional template. Still on design stage. Soon will be available.</p>
                </div>
                <div class="card-footer d-flex justify-content-end">
                    <button href="" class="btn btn-warning" disabled>Coming Soon</button>
                </div>


            </div>
        </div>

        <!--Fifth Template-->
        <div class="col-lg-4">
            <div class="card mb-3 align-items-center justify-content-center">
                <a>
                    <img src="~/assets/img/template_soon.jpg" class="img-fluid rounded-start">
                </a>
                <div class="card-body">
                    <h5 class="card-title">Coming Soon</h5>
                    <p class="card-text">New Templates Are Coming Soon !!!</p>
                </div>
                    <div class="card-footer d-flex justify-content-end">
                        <button href="" class="btn btn-warning" disabled>Coming Soon</button>
                    </div>
            </div>
        </div>
    </div>

</section>