@using BusinessLayer.Abstract;
@using EntityLayer.Concrete;
@inject IUserService _userService;

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";

    string userId;
    User user = new();
    bool isAuthenticated = Context.User.Identity.IsAuthenticated;

    if (isAuthenticated)
    {
        userId = Context.Request.Cookies["UserId"];
        user = _userService.GetElementById(int.Parse(userId));
    }

}

<section class="section dashboard min-vh-100 d-flex flex-column align-items-center justify-content-center">

    <div class="row">
        <!--TEMPLATES-->

        <!--Base Template-->
        <div class="col-lg-4">
            <div class="card mb-3 align-items-center justify-content-center">
                <a href="/Cv/BaseTemplate?shareCode=aaaaaaaa" target="_blank">
                    <img src="~/assets/img/default_template_new.jpg" class="img-fluid rounded-start">
                </a>
                <div class="card-body">
                    <h5 class="card-title">Default Template</h5>
                    <p class="card-text">This is the default template for your CV. A basic template that will meet your expectations. Ideal for the users that looks for simple designs.</p>
                </div>

                <!-- Select Button -->
                @if (isAuthenticated && user.MainTemplate == "BaseTemplate")
                {
                    <div class="card-footer d-flex justify-content-end">
                        <button href="" class="btn btn-success" disabled>Selected</button>
                    </div>
                }
                else
                {
                    <div class="card-footer d-flex justify-content-end">
                        <a href="/Template/SelectTemplate?template=BaseTemplate" class="btn btn-primary">Select Template</a>
                    </div>
                }

            </div>
        </div>

        <!--Second Template-->
        <div class="col-lg-4">
            <div class="card mb-3 align-items-center justify-content-center">
                <a href="/Cv/Template2?shareCode=aaaaaaaa" target="_blank">
                    <img src="~/assets/img/template2_new.jpg" class="img-fluid rounded-start">
                </a>
                <div class="card-body">
                    <h5 class="card-title">Second Template</h5>
                    <p class="card-text">This is the second template. More elegant than the default template. Ideal for users that looks for fancier designs.</p>
                    <p class="card-text" style="color:red">Warning: This template is still under development stage. The downloaded PDF of this template may be corrupted. This will be updated soon.</p>
                </div>

                <!-- Select Button -->
                @if (isAuthenticated && user.MainTemplate == "Template2")
                {
                    <div class="card-footer d-flex justify-content-end">
                        <button href="" class="btn btn-success" disabled>Selected</button>
                    </div>
                }
                else
                {
                    <div class="card-footer d-flex justify-content-end">
                        <a href="/Template/SelectTemplate?template=Template2" class="btn btn-primary">Select Template</a>
                    </div>
                }


            </div>
        </div>

        <!--Third Template-->
        <div class="col-lg-4">
            <div class="card mb-3 align-items-center justify-content-center">
                <a href="/Cv/Template2?shareCode=aaaaaaaa" target="_blank">
                    <img src="~/assets/img/template2_new.jpg" class="img-fluid rounded-start">
                </a>
                <div class="card-body">
                    <h5 class="card-title">Second Template</h5>
                    <p class="card-text">This is the second template. More elegant than the default template. Ideal for users that looks for fancier designs.</p>
                    <p class="card-text" style="color:red">Warning: This template is still under development stage. The downloaded PDF of this template may be corrupted. This will be updated soon.</p>
                </div>

                <!-- Select Button -->
                @if (isAuthenticated && user.MainTemplate == "Template3")
                {
                    <div class="card-footer d-flex justify-content-end">
                        <button href="" class="btn btn-success" disabled>Selected</button>
                    </div>
                }
                else
                {
                    <div class="card-footer d-flex justify-content-end">
                        <a href="/Template/SelectTemplate?template=Template3" class="btn btn-primary">Select Template</a>
                    </div>
                }


            </div>
        </div>
    </div>

    <div class="row">
        <!--Fourth Template-->
        <div class="col-lg-4">
            <div class="card mb-3 align-items-center justify-content-center">
                <a href="/Cv/Template4?shareCode=aaaaaaaa" target="_blank">
                    <img src="~/assets/img/template4.jpg" class="img-fluid rounded-start">
                </a>
                <div class="card-body">
                    <h5 class="card-title">Second Template</h5>
                    <p class="card-text">This is the second template. More elegant than the default template. Ideal for users that looks for fancier designs.</p>
                </div>

                <!-- Select Button -->
                @if (isAuthenticated && user.MainTemplate == "Template4")
                {
                    <div class="card-footer d-flex justify-content-end">
                        <button href="" class="btn btn-success" disabled>Selected</button>
                    </div>
                }
                else
                {
                    <div class="card-footer d-flex justify-content-end">
                        <a href="/Template/SelectTemplate?template=Template4" class="btn btn-primary">Select Template</a>
                    </div>
                }


            </div>
        </div>

        <!--Fourth Template-->
        <div class="col-lg-4">
            <div class="card mb-3 align-items-center justify-content-center">
                <a href="/Cv/Template4?shareCode=aaaaaaaa" target="_blank">
                    <img src="~/assets/img/template4.jpg" class="img-fluid rounded-start">
                </a>
                <div class="card-body">
                    <h5 class="card-title">Second Template</h5>
                    <p class="card-text">This is the second template. More elegant than the default template. Ideal for users that looks for fancier designs.</p>
                </div>

                <!-- Select Button -->
                @if (isAuthenticated && user.MainTemplate == "Template4")
                {
                    <div class="card-footer d-flex justify-content-end">
                        <button href="" class="btn btn-success" disabled>Selected</button>
                    </div>
                }
                else
                {
                    <div class="card-footer d-flex justify-content-end">
                        <a href="/Template/SelectTemplate?template=Template4" class="btn btn-primary">Select Template</a>
                    </div>
                }


            </div>
        </div>
    </div>

</section>