
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="section dashboard min-vh-100 d-flex flex-column align-items-center justify-content-center">
    <div class="row">
        <div class="col-lg-2"></div>
        <div class="col-lg-7">

            <!--Base Template-->
            <div class="card mb-3">
                <div class="row g-0">
                    <div class="col-md-4">
                        <a href="/Cv/BaseTemplate?shareCode=aaaaaaaa" target="_blank">
                            <img src="~/assets/img/default_template.jpg" class="img-fluid rounded-start">
                        </a>
                    </div>
                    <div class="col-md-8">
                        <div class="card-body">
                            <h5 class="card-title">Default Template</h5>
                            <p class="card-text">This is the default template for your CV. A basic template that will meet your expectations. Ideal for the users that looks for simple designs.</p>
                        </div>
                    </div>
                </div>
            </div>

            <!--Second Template-->
            <div class="card mb-3">
                <div class="row g-0">
                    <div class="col-md-4">
                        <a href="/Cv/Template2?shareCode=aaaaaaaa" target="_blank">
                            <img src="~/assets/img/template2.jpg" class="img-fluid rounded-start">
                        </a>
                    </div>
                    <div class="col-md-8">
                        <div class="card-body">
                            <h5 class="card-title">Second Template</h5>
                            <p class="card-text">This is the second template. More elegant than the default template. Ideal for users that looks for fancier designs.</p>
                        </div>
                    </div>
                </div>
            </div>



        </div>
        <div class="col-lg-3"></div>
    </div>
</section>