
@{
    ViewData["Title"] = "Faq";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="section faq min-vh-100">
    <div class="row">

        <div class="col-lg-2">

        </div>

        <div class="col-lg-7">
            <br />
            <br />
            <div class="card basic">
                <div class="card-body">
                    <br />
                    <div>
                        <h6>1. Is CVSharer Completely Free?</h6>
                        <p>Yes. All CVSharer services are completely free. Our services do not require any kind of payment at any step. You can create, download, share your cv and you can select the template you want from all of the templates for free.</p>
                    </div>

                    <div>
                        <h6>2. How can I begin making my personal CV?</h6>
                        <p>It's easy! You just need to create an account, select your desired CV template and fill in your personal information. Your CV will be created automatically. Then you can preview and download your CV. If you are confused with the steps, you can just click <a href="/Home/HowToBegin">here</a> to check our <a href="/Home/HowToBegin">How To Begin</a> page.</p>
                    </div>

                    <div>
                        <h6>3. How can I get informed about the updates?</h6>
                        <p>If you want to get informed about all the new features, new templates and updates, you can follow us on Instagram! We are posting all of the news about CVSharer on our Instagram. Click <a href="https://www.instagram.com/cv_sharer/">here</a> to go to our Instagram page.</p>
                    </div>

                </div>
            </div>

        </div>

        <div class="col-lg-3">

        </div>

    </div>
</section>

