
@{
    ViewData["Title"] = "HowToBegin";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<section class="section howtobegin">
    <div class="row">
        <div class="col-lg-2"></div>
        <div class="col-lg-7">
            <h1 class="text-center ql-font-serif">
                <br />
                <b>How To Begin With CV Sharer?</b>
                <br />
                <br />
            </h1>

            <p style="font-size:1.25rem">You can follow the easy steps and create your own customized professional CV with CVSharer for free now!</p>

            <h3>
                <b>
                    <br />
                    Step 1: Create Your CVSharer Account
                </b>
            </h3>

            <p style="font-size:1.25rem"> <br />✔ You can create your CVSharer account by clicking the register button shown below.</p>
            <p>
                <div style="text-align: center;">
                    <img src="~/assets/img/register_ss.png"  />
                </div>
            </p>

            <p style="font-size:1.25rem"> <br />✔ You just need to enter your email and fill in the needed information. Then click "Create Account" button. Please note that you need to enter a valid email address that you have access to. We will verify your account using this email.</p>
            <p>
                <div style="text-align: center;">
                    <img src="~/assets/img/register_ss2.png"  />
                </div>    
            </p>

            <p style="font-size:1.25rem"> <br />✔ Before completing your registry, we will send a verification code to your email and you just need to enter the code when the verify code screen shows up.</p>
            <p>
                <div style="text-align: center;">
                    <img src="~/assets/img/register_ss3.png"  />
                </div>    
            </p>

            <p style="font-size:1.25rem"> <br />✔ Now you have a CVSharer account! Let's continue with the next step!</p>

            <h3>
                <b>
                    <br />
                    Step 2: Add Your CV Information To Your Account
                </b>
            </h3>

            <p style="font-size:1.25rem"> <br />✔ You can navigate to your profile page with clicking to "My Profile" button under your profile.</p>
            <p>
                <div style="text-align: center;">
                    <img src="~/assets/img/profile_ss.png"  />
                </div>    
            </p>
            
            <p style="font-size:1.25rem"> <br />✔ In this page, you can see your profile overview, edit your profile and add required information about you that you want to add to your CV. You can add, edit and delete each information with clicking to the related tab. After you add all the information that you want to add to you CV to your account, you can continue with the next step.</p>
            <p>
                <div style="text-align: center;">
                    <img src="~/assets/img/profile_ss2.png" class="full-width" />
                </div>
            </p>

            <h3>
                <b>
                    <br />
                    Step 3: Select A Template
                </b>
            </h3>

            <p style="font-size:1.25rem"> <br />✔ Now, you can navigate to the templates page with clicking to "Templates" button on the navigation bar.</p>
            <p>
                <div style="text-align: center;">
                    <img src="~/assets/img/templates_ss.png"  />
                </div>        
            </p>

            <p style="font-size:1.25rem"> <br />✔ In this page, you can see all the templates available. You can display the templates with clicking on the images. You can select a template with clicking on the "Select Template" button. Now you can select the template you wish!</p>
            <p>
                <div style="text-align: center;">
                    <img src="~/assets/img/templates_ss2.png" class="full-width" />
                </div>        
            </p>

            <h3>
                <b>
                    <br />
                    Step 4: Share Or Download Your CV
                </b>
            </h3>

            <p style="font-size:1.25rem"> <br />✔ After you complete all the steps above, your CV should be ready. Just go your profile page again. You can download your CV as a pdf with clicking on the "Download Customized CV" button. If you want to share your CV with the url, click on the "Go To Personal CV button."</p>
            <p>
                <div style="text-align: center;">
                    <img src="~/assets/img/sharecv_ss.png"  />
                </div>        
            </p>

            <p style="font-size:1.25rem"> <br />✔ In the CV overview page, you can download your CV or copy your CV link to share as a link with clicking to the related buttons.</p>
            <p>
                <div style="text-align: center;">
                    <img src="~/assets/img/sharecv_ss2.png" class="quarter-width" />
                </div>        
            </p>

            <p style="font-size:1.25rem"> <br />✔ Now you can share your professional CV with your employer. You can add any information to your CV with our website any time easily! When you share your CV with the url, the added or updated information will apply to the same link. So you do not have to share again. The url will show your current CV page!</p>

        </div>
        <div class="col-lg-3"></div>
    </div>
</section>

<script>
    function adjustImageSize() {
        var images = document.querySelectorAll("img");

        images.forEach(function (image) {
            // Get the current width of the viewport
            var viewportWidth = window.innerWidth || document.documentElement.clientWidth;

            // Set a maximum width for the image based on the viewport width
            if (image.classList.contains("full-width") || viewportWidth < 700) {
                // For mobile screens
                image.style.maxWidth = "100%";
            }
            else if (image.classList.contains("quarter-width")) {
                image.style.maxWidth = "25%";
            }
            else {
                // For larger screens
                image.style.maxWidth = "50%"; // Adjust this value as needed
            }
        });
    }

    // Call the adjustImageSize function when the page loads
    window.addEventListener("load", adjustImageSize);

    // Call the adjustImageSize function when the window is resized
    window.addEventListener("resize", adjustImageSize);
</script>