
@{
    ViewData["Title"] = "HowToBegin";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<section class="section dashboard">
    <div class="row">
        <div class="col-lg-2"></div>
        <div class="col-lg-7">
            <h1 class="text-center ql-font-serif">
                <br />
                <b>How To Begin With CV Sharer?</b>
                <br />
                <br />
            </h1>

            <p style="font-size:1.25rem">You can follow the easy steps and create your own customized professional CV with CVSharer for free now!</p>

            <h3>
                <b>
                    <br />
                    Step 1: Create Your CVSharer Account
                </b>
            </h3>

            <p style="font-size:1.25rem"> <br />✔ You can create your CVSharer account by clicking the register button shown below.</p>
            <p><img src="~/assets/img/register_ss.jpg" style="width:30rem" /></p>

            <p style="font-size:1.25rem"> <br />✔ You just need to enter your email and fill in the needed information. Then click "Create Account" button. Please note that you need to enter a valid email address that you have access to. We will verify your account using this email.</p>
            <p><img src="~/assets/img/register_ss2.jpg" style="width:30rem" /></p>

            <p style="font-size:1.25rem"> <br />✔ Before completing your registry, we will send a verification code to your email and you just need to enter the code when the verify code screen shows up.</p>
            <p><img src="~/assets/img/register_ss3.jpg" style="width:30rem" /></p>

            <p style="font-size:1.25rem"> <br />✔ Now you have a CVSharer account! Let's continue with the next step!</p>

            <h3>
                <b>
                    <br />
                    Step 2: Add Your CV Information To Your Account
                </b>
            </h3>

            <p style="font-size:1.25rem"> <br />✔ You can navigate to your profile page with clicking to "My Profile" button under your profile.</p>
            <p><img src="~/assets/img/profile_ss.jpg" style="width:30rem" /></p>
            
            <p style="font-size:1.25rem"> <br />✔ In this page, you can see your profile overview, edit your profile and add required information about you that you want to add to your CV. You can add, edit and delete each information with clicking to the related tab.</p>
            <p><img src="~/assets/img/profile_ss2.jpg" style="width:60rem" /></p>

        </div>
        <div class="col-lg-3"></div>
    </div>
</section>