
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<section class="section dashboard">
    <div class="row">
        <div class="col-lg-2"></div>
        <!-- Left side columns -->
        <div class="col-lg-7">
            <div class="row">


                <!-- Slides with captions -->
                <div id="carouselExampleCaptions" class="carousel slide carousel-dark" data-bs-ride="carousel">
                    <div class="carousel-indicators ">
                        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active"  aria-current="true" aria-label="Slide 1"></button>
                        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1"  aria-label="Slide 2"></button>
                        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2"  aria-label="Slide 3"></button>
                    </div>
                    <div class="carousel-inner">
                        <div class="carousel-item active">
                            <a href="/Home/HowToBegin">
                            <img src="~/assets/img/slides-1.png" class="d-block w-100" alt="..." />
                            </a>
                        </div>
                        <div class="carousel-item">
                            <a href="/Session/Register">
                            <img src="~/assets/img/slides-2.png" class="d-block w-100" alt="..." />
                            </a>
                        </div>
                        <div class="carousel-item">
                            <a href="/Template/Index">
                            <img src="~/assets/img/slides-3.png" class="d-block w-100" alt="..." />
                            </a>
                        </div>
                    </div>

                    <button class="carousel-control-prev carousel-dark" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Previous</span>
                    </button>
                    <button class="carousel-control-next carousel-dark " type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Next</span>
                    </button>

                </div><!-- End Slides with captions -->
                
                
                <h1 class="text-center ql-font-serif">
                    <br />
                    <b>Shape Your Career Journey: Impressive CV Building Experience with CVSharer</b>
                    <br />
                    <br />
                </h1>
                
                
                <p style="font-size:1.25rem">Taking important steps in your career is now easier and more effective! CVSharer completely changes the CV creation process that job seekers need for making their dreams come true. You can create a professional CV in just a few steps, share it as you wish or download it as a PDF. We are here to help you shape your future as you wish.</p>
                
                <h3><b>
                    <br />
                    Why CVSharer?
                    </b>
                </h3>
                
                <p style="font-size:1.25rem"> <br /><b>🚀 User Friendly Interface: </b>Creating your personal CV is no longer a complicated process. Thanks to CVSharer's intuitive interface, it is now easy and enjoyable to follow the steps.</p>
                <p style="font-size:1.25rem"> <br /><b>📈 Customizable Templates: </b>You can choose from a variety of CV templates specially designed for different industries to express yourself in the best way possible. Now, your CV becomes way more remarkable with CVSharer's customizable templates.</p>
                <p style="font-size:1.25rem"> <br /><b>🔗 Easy To Share: </b>You can get quick access to potential employers or contacts by sharing your CV as a link very easily. You can update your CV whenever you need.</p>
                <p style="font-size:1.25rem"> <br /><b>📄 Downloadable as PDF </b>You can easily download and save your CV in PDF format or use it in your applications. Always be ready in the digital and traditional applications both.</p>
                <p style="font-size:1.25rem"> <br /><b>⏱️ Save Your Time:  </b>Get the opportunity to apply for more jobs by speeding up the CV creation process from start to finish. Use your time in the most efficient way possible.</p>
                
            </div>
        </div><!-- End Left side columns -->
        <!-- Right side columns -->
        <div class="col-lg-3">

        </div><!-- End Right side columns -->
        
    </div>
</section>
