
@{
    ViewData["Title"] = "VerifyAccount";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">

    <section class="section register min-vh-100 d-flex flex-column align-items-center justify-content-center py-4">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-4 col-md-6 d-flex flex-column align-items-center justify-content-center">

                    <div class="d-flex justify-content-center py-4">
                        <a href="/Home/Index" class="logo d-flex align-items-center w-auto">
                            <img src="~/assets/img/logo.png" alt="">
                            <span class="d-none d-lg-block">CVSharer</span>
                        </a>
                    </div><!-- End Logo -->

                    <div class="card mb-3">

                        <div class="card-body">

                            <div class="pt-4 pb-2">
                                <h5 class="card-title text-center pb-0 fs-4">Verify Your Account</h5>
                                <p class="text-center small">Enter the verification code that was sent to your email.</p>
                            </div>

                            <form class="row g-3 needs-validation" method="post" novalidate>

                                <div class="form-floating ">
                                    <input type="password" class="form-control" id="floatingPassword" name="userCode" placeholder="Verification Code" required>
                                    <label for="floatingPassword">Verification Code</label>
                                    <div class="invalid-feedback">Please Enter verification code!</div>
                                </div>
                                @*<div class="text-center" id="timer"></div>*@

                                @*                                <div class="col-12">
                                <div class="form-check">
                                <input class="form-check-input" type="checkbox" name="remember" value="true" id="rememberMe">
                                <label class="form-check-label" for="rememberMe">Remember me</label>
                                </div>
                                </div>*@

                                <div class="col-12">
                                    <button class="btn btn-primary w-100 rounded-pill" type="submit">Verify Account</button>
                                </div>
                                
                            </form>

                        </div>
                    </div>


                </div>
            </div>
        </div>

    </section>

</div>
@*<script>
    //Script for timing for 2 minutes before redirecting
    function startTimerAndRedirect() {
        var countdownSeconds = 180;
        var timerElement = document.getElementById("timer");

        var interval = setInterval(function () {
            countdownSeconds--;
            var minutes = Math.floor(countdownSeconds / 60);
            var seconds = countdownSeconds % 60;

            // Update the timer element to show the remaining time
            timerElement.textContent = "Redirecting in: " + minutes + " minutes and " + seconds + " seconds";

            if (countdownSeconds <= 0) {
                clearInterval(interval);
                window.location.href = '@Url.Action("Register", "Session")';
            }
        }, 1000); // Update the timer every 1 second (1000 milliseconds)
    }

    startTimerAndRedirect();

</script>*@

